{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "125",
          "esmodules": true
        },
        "sourceMaps": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
