<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style type="text/css">
    body {
      min-width: 400px;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Youtube Music DL</h1>
    <div v-if="videoId">
      <music-download v-bind:video-id="videoId" />
    </div>
    <div v-else>
      <h2>Source not found! :(</h2>
      <p>Play a music in Youtube Music app.</p>
    </div>
  </div>
</body>

</html>
